.DS_Store
.terraform
**.terraform
.vscode-test
.vscode-test-web
.wdio-vscode-service
*.vsix
bin
node_modules
npm-debug.log
dist
out
*.out
syntaxes
infrastructure/plan.out

# Arquivos de deploy temporários
samconfig.toml
.template.yaml

# Chaves e credenciais sensíveis
*.pem
*.key
*.crt

# Arquivos ZIP gerados para upload
*.zip

# Ignorar a pasta .aws-sam dentro de application/
application/.aws-sam/
application/.aws-sam/*
application/samconfig.toml